{% extends 'faculty/base.html' %}
{% block content %}
	<div class="container">
		<div class="card-group">
			<div class="card mb-3">
				<div class="card-header bg-primary text-white">Number of Enrolled Students</div>
				<div class="card-body">
					<h3 class="text-center">{{ num_students }}</h3>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header bg-primary text-white">Average GPA</div>
				<div class="card-body">
					<h3 class="text-center">{{ avg_gpa|floatformat:2 }}</h3>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header bg-primary text-white">Student Year Split</div>
				<div class="card-body">
					<ul class="list-unstyled">
						<li>Seniors: {{ num_seniors }}</li>
						<li>Juniors: {{ num_juniors }}</li>
						<li>Freshmen: {{ num_freshmen }}</li>
						<li>Sophomore: {{ num_sophomore }}</li>
					</ul>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header bg-primary text-white">Number of Courses Offered</div>
				<div class="card-body">
					<h3 class="text-center">{{ num_courses }}</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
