{% extends 'faculty/base.html' %}
{%block content%}

<div class = "container">
    <br/><br/>
    <div class ="row">
        <div class = "col-md text-center">
            <select id = "studentid" class = "form-select">
                <option value = "">Please select a student</option>
                {%for i in student %}
                <option value = "{{i.studentid}}">{{i.studentid}}</option>
                {%endfor%}
            </select>
        </div>
        <div class = "col-md text-center">
            <select id = "course_title" class = "form-select">
                <option value = "">Please select a course</option>
                {%for i in course %}
                <option value = "{{i.course_title}}">{{i.course_title}}</option>
                {%endfor%}
            </select>
        </div>
    </div><br/>
    <div class = "text-center">
        <button class ="btn btn-primary" id="btnsubmit">Submit</button>
    </div><br/><br/>

    <div>
        <h4 id = 'message'></h4>
    </div><br/>

    <div class = "conatiner text-center">
        <h4>Existing Enrollments</h4>
        <table class = "table">
            <thead class = "text-center">
                <tr>
                    <th>Student</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody class = "text-center">
                {%for i in enrollment%}
                <tr>
                    <td>{{i.studentid}}</td>
                    <td>{{i.course_title}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script>
    $('document').ready(function(){
        $('#btnsubmit').click(function(){
            var sid = $('#studentid').val()
            var ctitle = $('#course_title').val()

            $.ajax({
                url:"{% url 'saveinfo' %}",
                data:{
                    studentid: sid,
                    course_title: ctitle


                },
                
                success: function(data){
                    
                    if (data == 'Success'){
                        window.location = "{% url 'enrollment'%}"
                    }
                    else{
                        $('#message').html('This student is already enrolled in the course or is enrolled in 3 courses already')
                    }
                }
            }) 
        })

       

    })
</script>

{%endblock%}